/.direnv/
CMakeCache.txt
CMakeFiles/
CTestTestfile.cmake
Makefile
bin/
cmake_install.cmake
devshell.toml
ecm_uninstall.cmake
icons/CMakeFiles/
icons/CTestTestfile.cmake
icons/Makefile
icons/cmake_install.cmake
locale/
prefix.sh
prefix.sh.fish
src/CMakeFiles/
src/CTestTestfile.cmake
src/Makefile
src/cmake_install.cmake
src/xdp_dbus_screencast_interface.cpp
src/xdp_dbus_screencast_interface.h
src/xdp_dbus_screencast_interface.moc
src/xdp_dbus_screencast_interface.moc_parameters
src/xwaylandvideobridge.categories
src/xwaylandvideobridge_autogen/
src/xwaylandvideobridge_debug.cpp
src/xwaylandvideobridge_debug.h
.ccls-cache/
result
